/* .btn-group{
    position: absolute;
    margin-top: 4px;
    left:10px;
    bottom: 17px;
    background-color: rgb(189, 188, 188);
    display: hidden;
    /* top:659px; */
    /* border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px; */
  /* } */ 

  .btn-group{
    position: absolute;
    margin-top: 10%;
    left:1%;
    bottom: 100%;
    background-color: rgb(189, 188, 188);
    display: hidden;
    /* top:659px; */
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
  }

  .btn btn-secondaryyy{
    background-color: rgb(179, 176, 176);
    color: rgb(179, 176, 176);
    display: hidden;
  }

  .delete{
    cursor: "pointer";
    padding: 15;
    background: "none";
    color: "none";
    width: 50;
    height: 70;
    top: 200;
    left:400;
  }
