.userChat {
    /* width: 200px; */
    width: 25%;
    background-color: rgb(121, 229, 248);
    position: relative;
    left: 2%;
    /* bottom: 20px; */
    padding: 2% 4%;
    top: 20%;
    border-top-left-radius: 30%;
    border-radius: 15%;
    box-sizing: content-box;
    flex-grow: 2;
    
    
}

.addresseeChat {
    /* width: 200px; */
    width: 25%;
    background-color: rgb(252, 252, 252);
    position: relative;
    left: 72%;
    /* bottom: 20px; */
    padding: 2% 4%;
    top: 20%;
    border-top-right-radius: 30%;
    border-radius: 15%; 
}
.positioning {
    position: absolute;
    right: 10%;
    left: 87%;
    bottom: 40%;
    
  }

.sentImg{
    height: 100%;
    width: 100%;
    border: 50%;
}

.sentImg{
    height: 100%;
    width: 100%;
    border: 50%;
}