.contactButton {
    height: 5%;
    width: 100%;
    border: none;
    color: rgb(8, 8, 8);
    background-color: white;
    padding: 2% 4%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    display: inline-block;
    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: small;
    
    margin: 1.5%;
    transition-duration: 0.4s;
    cursor: pointer;
    display:block;
}
 
.contactButton:hover {
    background-color: rgb(197, 192, 192);
    color: white;
    display: inline-block;
    
    font-size: 3%;
    margin: 1.5% 3%;
    transition-duration: 0.4s;
  }
  .background{
    background-color: gainsboro;
  }
  .smallFont {
    font-size: medium;
    width: fit-content;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
  }
  .medFont{
    font-size: medium;
    color: red;
  }
  .time {
    font-size: x-small;
    padding-left: 80%;
    color: black;
  }
  .time2 {
    font-size: x-small;
    float:right;
    padding-left: 100%;
    color: gray;
  }
  .u{
    width: fit-content;
    font-size: large;
    font-weight: bold;
    margin-bottom: 2%;
    
    padding-left: auto;
    padding-top: 0.5%;
  }
  .mss{
    /* padding-left: 23%; */
    display: flex;
    flex-direction: row;
  }
  .imageContact{
     /* padding-top: 10%; */
  }
  .mChat{
    word-wrap: break-word;
  }